.nav-bar {
    padding: 0.4rem 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease-in;
}

.back-ground {
    background-color: #111111;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f40101;
    cursor: pointer;
}

.search {
    color: #eee;
    font-size: 1.4rem;
    cursor: pointer;
}

.search:hover {
    transform: scale(1.1);
    transition: all 500ms ease;
}
